@{
    ViewData["Title"] = "Home Page";
}

<br>

<div class="row" style="width: 1100px; height: 200px; background-color: DarkCyan; border-radius: 2%; margin-left: auto; margin-right: auto; border: solid">
    <div class="col-sm-3" id="avatar" style="width: 100px; height: 100px"></div>
    <div class="col">
    <p id="name" style="margin-top: 7px;">Name: </p>
    <p id="userName">Username: </p>
    <p id="email">Email: </p>
    <p id="company">Company: </p>
    <p id="location">Location: </p>
    </div>

    
</div>

<br>

<div>
<p style="font-size: 2em">Repositories</p>
</div>

<br>

<div class="card-columns" id="parent">
    
</div>

<div>
    <p id="repoCommit" style="text-align: center;"></p>
</div>

<br>

<div>
    <table id="commits" class="table table-striped">
                    <thead>
                        <tr>
                            <th>SHA</th>
                            <th>TimeStamp</th>
                            <th>Committee</th>
                            <th>Commit Message</th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>  
    </table>
</div>

@section Scripts {<script src="~/js/main.js"></script>}

