@{
    ViewData["Title"] = "Current Assignments";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1 style="text-align: center">@ViewData["Title"]</h1>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
