@model Interpolatar

@{
    ViewData["Title"] = "Color Interpolator";
}

<h2>Interpolate from one color to another</h2>
<p>Please enter colors in HTML hexadecimal format #AABBCC</p>

<div class="row">
    <div class="col-sm-2">
        <form asp-controller="ColorInt" asp-action="Interpolatar">
            <label>First Color</label>
            <input type="text" asp-for="FirstColor" />
            <label>Second Color</label>
            <input type="text" asp-for="SecondColor" />
            <label>Number of Colors</label>
            <input type="number" asp-for="NumColors" />
            <p> </p>
            <button class="btn btn-primary" type="submit">Generate Colors</button>
        </form>
        
    </div>

    <div class="col">
        <table>
            <tr>
                <thead>
                <th> HTML </th>
                <th> Color </th>
                </thead>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>
</div>